/* Side bar color to ORNL green */
.wy-side-nav-search {
    background-color: #007833 !important;
}

.wy-side-nav-search a.icon.icon-home {
    color: #ffffff !important;
}

/* Insert the logo */
#welcome-to-the-high-performance-computing-technologies-course h1::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: url("../logo.png") no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

a,
a:visited,
a:hover,
a:active {
    color: #007833 !important;
}

/* Change sidebar section headers to green */
.wy-menu-vertical p.caption {
    color: #007833 !important; 
    font-weight: bold;
}

/* Change sidebar links to white */
.wy-menu-vertical a {
    color: white !important;
}

/* Ensure active/hover links stay white */
.wy-menu-vertical a:hover, .wy-menu-vertical a:focus, .wy-menu-vertical li.current a {
    color: white !important;
}
 /* Ensure the active page text turns black */
.wy-menu-vertical li.current a {
    color: black !important;
    font-weight: bold;
}